html,body,ul,li {
	margin: 0;
	padding: 0;
}
ul,li {
	list-style: none;
}
.clear {
	clear: both;
}
.icons {
	background-image: url(../img/icons.png);
}
.icons1 {
    background-image: url(../img/icons1.png);
}
.icons2 {
    background-image: url(../img/icons2.png);
}

body {
	font-size: 12px;
    font-family: arial,Verdana, Geneva, Helvetica;
    color: #131313;
}
a {
    text-decoration: none;
}

/*top bar start*/

.top-bar {
    width: 100%;
}
.top-bar .tb-main {
	width: 1200px;
	height: 75px;
	margin: 0 auto;
}
.top-bar .tb-logo {
	display: inline-block;
	width: 130px;
	height: 48px;
	cursor: pointer;
	background-position: -660px 0px;
	position: relative;
	top: 14px;
}
.tb-main .tb-right {
	float: right;
	margin-top: 10px;		
}

.tb-main .tb-right li {
	float: left;
	width: 70px;
	color: #999999;
	text-align: center;
	border-right: 1px solid #999999;
    cursor: pointer;
}
.tb-main .tb-right li:hover {
    color: #FF6C67;
}
.tb-main .tb-right>div,.tb-main .tb-right>ul {
	display: inline-block;
}
.tb-main .tb-right>ul {
	margin-bottom: 17px;
}
.tb-main .tb-right .tb-spec {
	border-right: none;
	position: relative;
}
.tb-main .tb-right .tb-spec>i {
	display: inline-block;
	border: 5px solid #999999;
	border-color: #999999 transparent transparent transparent;
	position: absolute;
	top: 5px;
    left: 60px;
}
.tb-right .tb-spec>div {
    width: 70px;
    height: 87px;
    position: absolute;
    top: -6px;
    left: 6px;
    border: 1px solid #ccc;
    display: none;
}
.tb-right .tb-spec:hover div {
    display: block;
}
.tb-right .tb-spec>div span {
    display: inline-block;
    width: 70px;
    height: 27px;
    line-height: 27px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    cursor: pointer;
}
.tb-right .tb-spec>div .touming {
    opacity: 0;
}
.tb-right .tb-spec>div>span:hover {
    color: #FF6C67;
}
.tb-main .tb-right .logo-mobile {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url(../img/phone.gif);
	position: relative;
    left: -10px;
    bottom: -8px;
    margin-left: 20px;
}
.tb-main .tb-right .logo-tel {
	display: inline-block;
	width: 41px;
    height: 43px;
    background-image: url(../img/icons1.png);
    background-position: -42px 0px;
    position: relative;
    left: -6px;
    bottom: -8px;
    margin-left: 20px;
}
.tb-right .tbr-1 {
	width: 70px;
    position: relative;
}
.tb-right .tbr-1 .tbr1-list {
    width: 240px;
    height: 115px;
    border: 1px solid #ccc;
    position: absolute;
    top: 52px;
    left: -61px;
    background-color: #fff;
    background-position: -363px -226px;
    background-repeat: no-repeat;
    display: none;
    z-index: 1;
}
.tb-right .tbr-1 .tbr1-list>i {
    display: inline-block;
    width: 17px;
    height:10px;
    background-position: -212px 0px;
    position: absolute;
    top: -10px;
    left: 46px;
}
.tb-right .tbr-1:hover .tbr1-list {
    display: block;
}

.tb-right .tbr-2 {
	width: 109px;
    position: relative;
}
.tb-right .tbr-1>span {
    color: #ff6a6a;
    font: 14px/18px Microsoft yahei; 
}
.tb-right .tbr-2 .tbr2-1 {
	color: #999;
    font: 14px/18px Microsoft yahei; 
}
.tb-right .tbr-2 .tbr2-2 {
	color: #5E64C8;
    font: 14px/18px Microsoft yahei; 
}
.tb-right .tbr-2:hover .tbr-list {
    display: block;
}
.tb-right .tbr-2 .tbr2-2 a {
	font-size: 16px;
}
.tbr-2 .tbr-list {
    width: 183px;
    height: 143px;
    border: 1px solid #ccc;
    position: absolute;
    top: 52px;
    left: -56px;
    background-color: #fff;
    color: #999;
    font-size: 12px;
    display: none;
    z-index: 1;
}
.tbr-2 .tbr-list i {
    display: inline-block;
    width: 17px;
    height:10px;
    background-position: -212px 0px;
    position: absolute;
    top: -10px;
    left: 46px;
}
.tbr-2 .tbr-list>div {
    width: 160px;
    height: 28px;
    line-height: 28px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}
.tbr-2 .tbr-list .tel-long {
    border-bottom: none;
}
.tbr-2 .tbr-list .tel-long1 {
    text-indent: 27px;
}
/*top-bar end*/


.header {
    height: 40px;
    background-color: #2064C8;
}
.header>div {
    width: 1200px;
    margin: 0 auto;
}
.header .header-left,.header .header-left li {
    float: left;
    border-right: 1px solid #3774ce;
}
.header .header-left li:hover {
    background-color: #0053AC;
}
.header .header-left .h-fontpage:hover {
    background-color: #003679;
}
.header .header-right {
    float: right;
}
.header .header-left li a {
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    color: #fff;
    font-size: 14px;
    font-family: Microsoft yahei; 
}
.header .header-left .h-fontpage {
    background-color: #003679;
}
.header-left .gjjd,.header-left .dz,.header-left .bus-ticket {
    position: relative;
}
.header .header-left .gjjd i {
    display: inline-block;
    width: 22px;
    height: 21px;
    background-position: -509px 0px;
    position: absolute;
    top: -9px;
    left: 56px;
}
.header .header-left .dz i {
    display: inline-block;
    width: 39px;
    height: 21px;
    background-position: -470px -29px;
    position: absolute;
    top: -9px;
    left: 45px;
}
.header .header-left .bus-ticket i {
    display: inline-block;
    width: 39px;
    height: 21px;
    background-position: -426px -29px;
    position: absolute;
    top: -9px;
    left: 30px;
}
.header .header-right {
    width: 120px;
    background-color: #003679;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    font-family: Microsoft yahei; 
    position: relative;
}
.header .header-right>span:hover {
    color: #D9D35A;
    cursor: pointer;
}
.header .header-right .hr-list {
    width: 210px;
    height:280px;
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
}

.header-right .hr-list .hl-btn {
    width: 180px;
    height:35px;
    background-color: #f80;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    margin: 0 auto;
    margin-top: 15px;
}
.header-right .hr-list li {
    float: left; 
    width: 50px;
    height: 70px;
    border: none;  
}
.header-right .hr-list li i {
    display: inline-block;
    width: 35px;
    height: 40px; 
}
.header-right .hr-list .hl-jd>i {
    background-position: -157px -679px;
}
.header-right .hr-list .hl-jd {
    
}
.header-right .hr-list .hl-jd {
    
}
.header-right .hr-list .hl-jd {
    
}
.header-right .hr-list .hl-jd {
    
}
.header-right .hr-list .hl-jd {
    
}
.header-right .hr-list .hl-jd {
    
}
.header-right .hr-list .hl-jd {
    
}
.header-right .hr-list .hl-jd {
    
}
/*header end*/


.under-header {
    height: 380px;
    background-image: url(../img/pic-show.jpg);
    background-position: center;
 /*   width: 1350px;
    background-position: center;*/
}
.under-header .under-wp {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}
.under-header .under-main {
    width: 600px;
    height: 300px;
    background-color: #fff;
}
.under-wp .under-main .um-left {
    width: 100px;
    height: 300px;
    background-color: #F3F3F3;   
}
.under-wp .under-main .um-right {
    width: 500px;
    height: 300px;
}
.under-main .um-left,.under-main .um-right {
    float: left;
}
.um-left .unleft-main>li {
    width: 100px;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    text-indent: 20px;
    color: #333;
    font-family: Microsoft Yahei;
    border-top: 1px solid #E1E1E1;
}
.um-left .unleft-main i {
    display: inline-block;
    width: 17px;
    height: 17px;
}
.um-left .unleft-main .ul1 {
    background-position: -582px -344px;
    position: relative;
    top: 3px;
    right: 4px;
}
.um-left .unleft-main .ul2 {
    background-position: -582px -365px;
    position: relative;
    top: 3px;
    right: 4px;
}
.um-left .unleft-main .ul3 {
    background-position: -582px -386px;
    position: relative;
    top: 3px;
    right: 4px;
}
.um-left .unleft-main .ul4 {
    background-position: -582px -317px;
    position: relative;
    top: 3px;
    right: 4px;
}
.under-main .um-right .umr-top {
    width: 440px;
    height: 35px;
    margin: 10px auto 20px auto;
    font-size: 13px;
    font-weight: bold;
    line-height: 35px;  
    color: #333;
    border-bottom: 2px solid #AAAAAA;
    position: relative;
}
.under-main .um-right .umr-top span {
    margin-left: 20px;
}
.under-main .um-right .umr-top>i {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-position: -474px 1px;
    position: absolute;
    top: 30px;
    right: 387px;
}
.um-right .umr-center {
    width: 440px;
    height: 137px;
    font-size: 14px;
    color: #333;
    font-family: Microsoft Yahei;
    margin: 0 auto;
}
.umr-right .umr-center>div {
    width: 440px;
}

.um-right .umr-center .d1 {
    display: inline-block;
    line-height: 32px;
}
.um-right .umr-center .d2 {
    float: right;
    width: 378px;
    height: 30px;
    border: 1px solid #E1E1E1;
    border-radius: 3px;
}
.um-right .umr-center .d2 input {
    width: 356px;
    height: 22px;
    margin: 2px;
    border: none;
    outline: none;
    position: relative;
    top: 1px;
}
.umr-center .d1,.keyword .k1 {
    width: 53px;
    height: 32px;
    text-align: right;
}

.umr-center .check-in .c1,.umr-center .check-in .c1-rz {
    display: inline-block;
}
.umr-center .check-in .c1-rz {
    width: 156px;
    height: 32px;
    border: 1px solid #E1E1E1;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: 3px;
}
.umr-center .check-in .c2-tf {
    width: 159px;
    height: 32px;
    border: 1px solid #E1E1E1;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: 1px;
}

.umr-center .check-in .c1,.check-in .c2 {
    width: 52px;
    height: 32px;
    text-align: right;
    line-height: 32px;
    position: relative;
    top: -12px;
}

.umr-center .check-in .c2,.umr-center .check-in .c2-tf {
    display: inline-block;
}

.umr-center .keyword .k2 {
    float: right;
    width: 378px;
    height: 30px;
    border: 1px solid #E1E1E1;
    border-radius: 3px;
} 

.um-right .umr-center .k2 input {
    width: 356px;
    height: 18px;
    margin: 2px;
    border: none;
    outline: none;
    position: relative;
    top: 1px;
}
.um-right .umr-center .k1 {
    display: inline-block;
    line-height: 32px;
}
.um-right .umr-center .keyword {
    margin-top: 10px;
}
.um-right .umr-btn {
    width: 440px;
    height: 35px;
    margin: 10px auto 20px auto;  
    color: #333;
    margin-top: 20px; 
}
.um-right .umr-btn .umr-ser {
    display: inline-block;
    width: 160px;
    height: 33px;
    background-color: #FF5555;
    text-align: center;
    line-height: 33px;
    color: #fff;
    border-radius: 3px;
    margin-left: 60px;
    font-size: 16px;
}
.um-right .umr-btn .umr-ser:hover {
    background-color: #F44;
    cursor: pointer;
}
.um-right .umr-btn .umr-ser>i {
    display: inline-block;
    width: 23px;
    height: 20px;
    background-position: -430px -2px;
    position: relative;
    top: 5px;
}
.um-right .umr-btn .umr-map {
    display: inline-block;
    width: 95px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    border-radius: 3px;
    margin-left: 10px;
    border: 1px solid #E1E1E1;
}
.um-right .umr-btn .umr-map:hover i {
    background-position: -452px -27px;
}
.um-right .umr-btn .umr-map:hover {
    color: #fff;
    background-color: #39f;
}
.um-right .umr-btn .umr-map>i {
    display: inline-block;
    width: 19px;
    height: 21px;
    background-position: -452px -2px;
    position: relative;
    top: 5px;
}
/*under header end*/

.hotel-ad {
    width: 1200px;
    height: 335px;
    margin: 0 auto;
    font-family: microsoft yahei;

}
.hotel-ad .ad-header {
    width: 221px;
    height: 31px;
    border: 1px solid #E1E1E1;
    border-radius: 20px;
    font-size: 14px;
    color: #555;
    text-align: center;
    line-height: 31px;
    margin: 20px 0;
}
.hotel-ad .ad-header>i {
    display: inline-block;
    width: 20px;
    height: 16px;
    background-position: -580px -14px;
    position: relative;
    top: 3px;
}

.hotel-ad .ad-main>ul>li {
    width: 171px;
    height: 260px;
    float: left;
    background-image: url(../img/fanchuan.jpg);
    background-position: -117px 0px;
    cursor: pointer;
}
.hotel-ad .ad-main>ul>li>div {
    width: 30px;
    margin: 30px auto 0 auto;
    color: #fff; 
    display: block;
    font: 30px/30px Microsoft Yahei;
}

.par1 {
    width: 1200px;
    margin: 0 auto;    
    font-family: Microsoft Yahei;
}
.par1 .par1-header {
    height: 45px;
    border-bottom: 2px solid #FF5555;
}
.par1 .par1-header .ph-big {
    font-size: 24px;
    color: #FF5555;
    line-height: 45px;
}
.par1 .par1-header .ph-normal {
    font-size: 14px;
    color: #999;
    margin-left: 10px;
}
.par1 .par1-top {
    height: 250px;    
}
.par1-top .par1-guonei {
    margin: 5px 0px 15px 0px;
}
.par1-top .par1-guonei .guonei-logo {
    font-size: 18px;
    color: #555;
    display: inline-block;
    margin-right: 30px
}
.par1-top .par1-guonei .guonei-logo>i {
    display: inline-block;
    width: 24px;
    height: 28px;
    background-position: -575px -98px;
    position: relative;
    top: 5px;
    margin-right: 5px;
}
.par1-top .par1-guonei .guonei-text {
    display: inline-block;
    margin-bottom: -10px;
}
.par1-top .par1-guonei .guonei-text .gt-normal {
    float: left;
    width: 77px;
    height: 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    margin-right: 20px;
}

.par1-guonei .guonei-text .gt-spec {
    background-color: #FF5555;
    color: #fff;
    float: left;
    width: 77px;
    height: 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    margin-right: 20px;
}
.par1-guonei span a { 
    float: right;
    font-size: 14px;
    color: #999;
    margin-top: 15px;
}

.par1-top .par1-guonei .guonei-text .gt-normal:hover {
    color: #FF5555;
    border: 1px solid #FF5555;
    width: 75px;
    height: 23px;
    text-align: center;
    line-height: 23px;
}
.par1-top .guonei-tu .gt-nor {
    width: 290px;
    height: 200px;
    border-bottom: 1px solid #999;
    float: left;
    margin-right: 10px;
    background-image: url(../img/pic1.jpg);
    position: relative;
    cursor: pointer;
}
.par1-top .guonei-tu .nomargin {
    width: 300px;
    float: left;
    height: 200px;
    background-image: url(../img/pic1.jpg);
    cursor: pointer;
    background-position: 6px 0px;
}
.par1-top .guonei-tu li:hover {
    border-bottom: 2px solid #FF5555;
    
}
.par1-top .guonei-tu li>div {
    width: 290px;
    height: 38px;
    position: absolute;
    bottom: 0px;
    background-color: #f7f7f7;
    line-height: 38px;
    font-size: 14px;
    border: none;
}

.par2 { 
    width: 1200px; 
    height: 45px;
    margin: 0 auto;
    border-bottom: 2px solid #4499FF;
    font-family: microsoft yahei;
}
.par2 .par2-header {
    margin-top: 30px
}
.par2 .par2-header>span {  
    font-size: 24px;
    color: #4499FF;
    line-height: 45px;
}
.par2 .par2-top {
    margin-top: 20px;
}
.par2 .par2-top .par2-logo>div {
    display: inline-block;   
}
.par2 .par2-top .par2-logo .pl-text {
    font-size: 18px;
    color: #555;
    margin-right: 30px
}
.par2 .par2-top .par2-logo .pl-text>i {
    display: inline-block;
    width: 24px;
    height: 28px;
    background-position: -571px -186px;
    position: relative;
    top: 5px;
    margin-right: 5px;
}
.par2 .par2-top .par2-logo .start-bj {
    width: 77px;
    height: 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    margin-right: 20px;
    background-color: #4499FF;
    color: #fff;
}
.par2 .par2-top .par2-logo .pt-start {
    width: 77px;
    height: 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    margin-right: 20px;
}
.par2 .par2-top .par2-logo .pt-start:hover {
    width: 75px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    border: 1px solid #4499FF;
    color: #4499FF;
}
.par2 .par2-top .par2-detail li {
    float: left;
    width: 198px;
    height: 100px;
    border:1px solid #d8e8fe;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #F4F9FF;
}
.par2 .par2-top .par2-detail li:hover {
    border: 1px solid #4499FF;

}
.par2 .par2-top .par2-detail .pd-top {
    width: 140px;
    font-size: 14px;
    margin: 0 auto;
    padding-left: 29px;
}
.par2 .par2-top .par2-detail .pd-top>i {
    display: inline-block;
    width: 35px;
    height: 15px;
    background-position: -567px -166px;
    margin: 10px;
    position: relative;
    top: 15px;
}
.par2-top .par2-detail .pd-bot {
    width: 160px;
    margin: 0 auto;
    margin-top: 20px;
}
.par2-top .par2-detail .pd-bot .pd-zhe {
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 15px;
    background-color: #009900;
    text-align: center;
    line-height: 20px;
    color: #fff;
}
.par2-top .par2-detail .pd-bot .price {
    font-size: 16px;
    color: red;
}


.par3 { 
    width: 1200px; 
    margin: 0 auto;   
    font-family: microsoft yahei;
}
.par3 .par3-header {
    height: 45px;
    border-bottom: 2px solid #89CA00;
    margin-top: 10px;
    font-size: 24px;
    color: #89CA00;
    line-height: 45px;
    margin-bottom: 10px;
}

.par3 .par3-main .pm1 {
    width: 580px;
    height: 220px;
    float: left;
}
.par3 .par3-main .pm1>div {
    float: left;
}

.par3-main .pm1 .pm1-left {
    width: 220px;
}
.par3-main .pm1 .pm1-left>div {
    height: 54px;
    font-size: 14px;
    text-align: left;
    line-height: 54px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.par3-main .pm1 .pm1-left>div:hover i {
    display: block;
}
.par3-main .pm1 .pm1-left>div:hover {
    background-color: #89CA00;
    color: #fff;
}
.par3-main .pm1 .pm1-left>div>i {
    display: inline-block;
    border: 10px solid #89CA00;
    border-color: transparent transparent transparent #89CA00;
    position: absolute;
    top: 17px;
    right: -20px;
    display: none;
}
.par3-main .pm1 .pm1-right {
    width: 360px;
    height: 220px;
    background-image: url(../img/pic2.jpg);
    float: left;
}
.par3-main .pm2 {
    display: inline-block;
    width: 290px;
    height: 220px;
    background-image: url(../img/pic3.jpg);
    margin-left: 18px;
}

.par4 {
    width: 1200px;
    height: 180px;
    background-color: #F7F7F7;
    margin: 20px auto;
}
.par4 .par4-top {
    height: 100px;
    border-bottom: 1px solid #ccc;
}
.par4 .par4-top>span {
    display: inline-block;
    width: 297px;
    height: 100px;
    line-height: 100px; 
    font-size: 16px;
    font-family: microsoft yahei;
}
.par4 .par4-top>span>i {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-position: -91px -4px;
    position: relative;
    top: 20px;
    left: -13px;
    margin-left: 20px;   
}
.par4 .par4-bot {
    height: 80px;
    font-size: 16px;
    font-family: microsoft yahei;
    text-align: center;
    line-height: 80px;
}
.par4 .par4-bot .text-wp {
    display: inline-block;
    width: 208px;
    height: 30px;
    border: 1px solid #ccc;
    position: relative;
    top: 10px;
}
.par4 .par4-bot .text-wp input {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 194px;
    height: 19px;
    border: none;
    outline: none;
    background-color: #F7F7F7;
}
.par4 .par4-bot .btn {
    width: 80px;
    height: 32px;
    background-color: #3377DD;
    font-size: 16px;
    font-family: microsoft yahei;
    color: #fff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: -1px;
    right: 5px;
}

.footer {
    width: 100%;
    height: 350px;
    position: relative;
    border-top: 1px solid #F7F7F7;
}
.footer .footer-top {
    width: 1000px;
    height: 25px;
    margin-top: 20px;
    margin-left: 300px;
}
.footer .footer-top li {
    float: left;
    width: 205px;
    border-left: 3px solid #5D96C7;
    font-size: 18px;
    font-family: microsoft yahei;
    padding-left: 10px;
}
.footer .footer-bot {
    width: 870px;
    height: 150px;
    margin: 0 auto;
    margin-left: 315px;
}
.footer .footer-bot div {
    width: 217px;
    height: 150px;
    display: inline-block;
    color: #333;
}
.footer .footer-bot li:hover {
    color: #FF6666;
    cursor: pointer;
}
.footer .footer-bot .fb1,.footer .footer-bot .fb2 {
    line-height: 25px; 
}
.footer .footer-bot .fb3 {
    width: 100px;
    height: 100px;
    background-position: -500px 0;
    position: relative;
    top: 15px;
}
.footer .footer-bot .fb4 {
    width: 100px;
    height: 100px;
    background-position: -500px 0;
    position: relative;
    top: 15px;
    left: 116px;
}
.footer .gs {
    width: 615px;
    height: 15px;
    margin: 0 auto;
    margin-top: 30px;
}
.footer .gs-logo {
    width: 375px;
    height: 40px;
    background-image: url(../img/pic5.png);
    margin: 0 auto;
    margin-top: 15px;
}
.footer .footer-end {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: #7C8FA2;
}
.footer .footer-end .femain {
    width: 990px;
    margin: 0 auto;
}
.footer-end .femain li {
    width: 165px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.footer-end .femain .fe-normal {
    background-color: #C0D2E4;
}
.footer-end .femain .fe-normal:hover {
    background-color: #8DA1B5;
}
.footer-end .femain .fe-ano {
    color: #fff;
}
.footer-end .femain .fe-ano:hover {
    background-color: #8DA1B5;
}



















