html,body,ul,li {
	margin:0;
	padding:0;
}
ul,li {
	list-style: none;
	font-size: 12px;
}

.icons {
	background-image:url(../img/icons.png);
}
.mainicons {
	background-image: url(../img/mainicons.png);
}

.clear {
	clear: both;
}
a {
	text-decoration: none;
}

body {
	font-family: "微软雅黑";
	position: relative;
}

/*top line*/

.top-line {
	height: 28px;
	border-bottom: 1px solid #F0F0F0;
}
.top-wp {
	width: 1190px;
	height: 28px;
	margin: 0 auto;
}
.wp-left {
	float:left;
}
.wp-left div {
	float:left;
	font-size: 12px;
	color: #8E9999;
	line-height: 28px;
}

.wp-left .hao-color:hover {
	color: #0AA770;
	cursor: pointer;
}

.wp-left .dh {
	margin-left:10px;
	padding: 0px 5px;
	width: 88px;
	text-align: center;
	cursor: pointer;
	position: relative;
	margin-bottom: 5px;
}
.wp-left .dh:hover .dh-list {
	display: block;
}

.wp-left .dh:hover {
    background-color: #F0F0F0;
}

.dh i {
	display: inline-block;
	position: relative;
}
.dh .dh1 {
	width: 15px;
    height: 17px;
    background-position: -110px 0px;
    position: relative;
    top: 5px;
    right: -4px;
}
.dh .dh2 {
    display: inline-block;
    border:4px solid #8E9999;
    border-color: #8E9999 transparent transparent transparent;
    margin-bottom: -2px;
    margin-left: -3px;
    margin-right: 5px;
}
.dh .dh-list {
	width: 320px;
	height: 300px;
	position: absolute;
	top: 29px;
	left: 0;
	display: none;
	z-index: 1;
}
.dh-list .dh-xiuxian {
	width: 280px;
	height: 100px;
    background-color:#F0F0F0;
    color: #333333;	
    font-size: 16px;
    text-align: left;
}

.dh-list .dh-xiuxian ul {
	margin-left: 20px;
	margin-top: 17px;
}
.dh-list .dh-xiuxian li {
	float: left;
	line-height: 20px;
	margin-right: 8px;
}
.dh-list li:hover {
	color: #FF5500;
}
.dh-list .dh-ano {
	background-color: #fff;
}
.dh-list .dh-xiuxian span {
	position: relative;
    top: 10px;
    left: 20px;
}
.wp-right {
	float: right;
	width: 250px;
	height: 28px;
	font-size: 12px;
	color: #8E9999;
	line-height: 28px;
}
.wp-right>div {
	display: inline-block;
}
.wp-right .login>i {
	display: inline-block;
	width: 15px;
	height: 15px;
    background-position: -110px -355px;
    margin-bottom: -4px;
    margin-right: 5px;
}
.wp-right .login:hover i {
	background-position: -110px -387px;

}
.wp-right .login:hover {
	color: #0AA770;
}
.wp-right .login {
	width: 98px;
	height: 28px;
	background-color: #F0F0F0;
	text-align: center;
	cursor: pointer;
}
.wp-right .house {
	width: 15px;
	height: 15px;
    background-position: -109px -287px;
    margin-bottom: -3px;
    margin-left: 2px;
    cursor: pointer; 
}
.wp-right .house:hover {
	background-position: -109px -321px;
}
.wp-right .i-icon {
	width: 15px;
	height: 15px;
    background-position: -109px -219px;
    margin-bottom: -3px;
    margin-left: 10px;
    margin-right: 7px;
    cursor: pointer; 
}
.wp-right .i-icon:hover {
    background-position: -109px -253px;
}
.wp-right .mobile-icon {
	width: 15px;
	height: 15px;
    background-position: -111px -71px;
    position: relative;
    top: 6px;
    cursor: pointer; 
}
.wp-right .mobile-icon:hover {
    background-position: -111px -185px;
}
.mobile-icon>i {
	display: inline-block;
	border:4px solid #8E9999;
    border-color: #8E9999 transparent transparent transparent;
    position: relative;
    left: 14px;
    bottom: 4px;
}
.mobile-icon:hover i {
	 border-color: #0AA770 transparent transparent transparent;
}
.mobile-icon .mobile-list {
    width:80px;
    height: 108px;
    background-color: #F0F0F0;
    position: absolute;
    top: 23px;
    left: -39px;  
    padding: 0px 10px 10px 10px;
    display: none;
}
.mobile-icon .mobile-list .ml-text {
	widows: 80px;
	height: 25px;
	margin: 0 auto;
	text-align: center;
	color: #666666;
}
.mobile-icon:hover .mobile-list {
	display: block;
}

.mobile-list img {
	padding: 5px;
	background-color: #FFF;
}

.wp-right .wpright-text {
	margin-left: 10px;
	color: #0AA770;

}
.wp-right .wpright-text:hover {
    text-decoration: underline;
}

/*main logo*/

.main-logo {
	width: 100%;
	height: 70px;
	background-color: #fff;
}
.mainlogo-in {
	width: 1190px;
	height: 70px;
	margin: 0 auto;
}
.mainlogo-in .hao-logo {
	display: inline-block;
    width: 123px;
	height: 35px;
    background-position: 0px -452px;
    margin-top: 17px;
}
.mainlogo-left>span {
    display: inline-block;
	font-family: 'Microsoft YaHei';
    font-size: 27px;
    font-weight: bold;
    color: #666;
    float: right;
    margin-top: 18px;
    margin-left: 4px;    
}
.mainlogo-left {
	float:left;
}
.mainlogo-right {
	float:right;
	margin-top: 18px;
}
.mainlogo-right .input-wp {
	display: inline-block;
	width: 318px;
	height: 28px;
	border: 2px solid #0AA770;
	border-right:none;
}
.input-wp input {
	width: 308px;
    height: 18px;
    position: relative;
    top: 2px;
    left: 3px;
    border: none;
    outline: none;    
}
.mainlogo-right .serbtn {
	width:60px;
	height:32px;
	background-position: -63px -506px;
	float: right;
	cursor: pointer;
}

.header {
	width: 100%;
	height: 40px;
	background-color: #0AA770;
}
.header .choice {
	width:1190px;
	margin: 0 auto;
}

.header .choice li {
    float: left;
	width:130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-family: 'Microsoft YaHei';
    font-size: 16px;
    color: #fff;
}

.header .choice .change:hover {
	background-color: #0BBB77;
}
.header .choice .first-page {
	background-color: #118860;
}

/*main slider add*/
.main {
	padding: 20px 80px 0px 80px;
	background-color: #F6F5FA;
}

.main .slider-top {
	width: 1190px;
	height: 403px;
	background-color: #fff;
}
.main .slider {
	width: 883px;
	height: 402px;
	border: 1px solid #CFD2D7;
	position: relative;
	float: left;	
}
.main .slider:hover i {
	display: block;
}
.slider .left-arrow, .slider .right-arrow {
	width: 51px;
	height: 151px;
	background-image: url(../img/mainicons.png);
	background-position: 0px -183px;
	position: absolute;
    top: 127px;
    opacity: 0.3;
    display: none;
    cursor: pointer;
}

.slider .right-arrow {
	right: 0;
	background-position: -50px -180px;
}

.slider ul {
	width: 883px;
	height: 37px;
	position: absolute;
	bottom: 0;
	background-color: #fff;
    cursor: pointer;
	opacity: 0.9;
	overflow: hidden;
}
.slider ul li {
	width: 175px;
	float: left;
	text-align: center;
	line-height: 37px;
	color: #666;
	font-size: 12px;
    border-right: 1px solid #CFD2D7;
}
.slider ul .border-none {
	border-right: none;
}

.main .top5 {
	width: 300px;
	height: 403px;
	border-top: 2px solid #0AA770;
	float: left;
	padding-right: 5px;
}
.top5 .top5-head {
	display: block;
	font-size: 20px;
	font-family: "microsoft yahei";
	text-indent: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.top5 li {
	position: relative;
	float: left;
	margin-bottom: 10px;
}
.top5 .another-color {
	background-color: #AAAAAA;
}
.top5 div {
	width: 23px;
	height: 20px;
	background-color: #FF5500;
	text-align: center;
	line-height: 20px;
	color: #fff;
    float: left;
    font-family: arial;
    font-size: 12px;
    margin-left: 20px;
}
.top5 img {
	float: left;
	cursor: pointer;
}

.top5 a {
	font-size: 12px;
	color: #333333;	
	cursor: pointer;
}
.top5 a:hover {
	color: red;
}
.top5 .price {
	position: absolute;
    bottom: 12px;
    right: 37px;
	font-family: Arial;
    color: #fd4a12;
    font-size: 12px;
    font-weight: 800;
}

/*news*/
.main .news {
	width: 1190px;
	height: 500px;
	margin: 0 auto;
}
.news .news-header {
	font-size: 24px;
	font-family: "microsoft yahei";
	color: #333;
	margin-top: 40px;
}
.news .news-left {
	width: 883px;
	float: left;
}
.news-left .nl-level1 .level-zi,.level-ping {
	float: left;
}

.news-left .nl-level1,.nl-level3 {
	width: 883px;
	height: 145px;
	margin-top: 10px;
}
.news-left .nl-level1 .level-zi {
	width: 400px;
    height: 140px;
}

.level-zi .lz-h {
	font-size: 20px;
	color: #282828;
    text-indent: 35px;
}
.level-zi .lz-h:hover {
	color: #0080C8;
	cursor: pointer;
}
.news i {
	display: inline-block;
	width: 3px;
	height: 3px;
	background-color: #DEDEDE;
	position: relative;
    top: 10px;
    right: 10px;
}
.level-zi ul li:hover {
	color: #0080C8;
	cursor: pointer;
}
.level-zi .lz-l,.lz-r {
	float:left;
	line-height: 13px;
}
.level-zi .lz-l {
	margin-right: 60px;
	margin-left: 10px;
}

.nl-level1 .level-ping {
	width: 433px;
	height: 140px;
	margin-left: 50px;
}
.laptop-tu img {
	width: 105px;
	height: 73px;
	float: left;
	margin-right: 10px;
}
.laptop-tu {
	position: relative;
}
.laptop-tu .lap-text {
	width: 43px;
	height: 23px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #FF5500;
	color: #fff;
	text-align: center;
	line-height: 23px;
	font-size: 12px;
}
.lp-head {
	font-size: 14px;
	color: #282828;
}
.lp-head:hover {
	cursor: pointer;
	color: #0080C8;
}

.lp-detail>span {
	display: inline-block;
	width: 254px;
	height: 42px;
	font-size: 12px;
	line-height: 23px;
    margin-top: 11px;
}
.lp-detail>span>a {
    color: #FF5500;
    cursor: pointer;
}
.level-ping .lp-left,.lp-right {
	width: 200px;
	height: 45px;	
	float: left;
	line-height: 13px;
	margin-left: 10px;
	margin-top: 6px;
}
.lp-left>li:hover {
	color: #0080C8;
	cursor: pointer;
}
.lp-right>li:hover {
	color: #0080C8;
	cursor: pointer;
}

.news-left .nl-level2 {
	width: 883px;
	height: 95px;
	margin-top: 5px;
	margin-bottom: 20px;
	cursor: pointer;
}

.nl-level3 .nl3-left,.nl3-right {
	width: 415px;
	height: 140px;
	float: left;
}
.nl-level3 .nl3-left .lp-left,.lp-right {
	width: 200px;
	height: 45px;	
	float: left;
	line-height: 13px;
	margin-left: 7px;
	margin-top: 6px;
}
.nl-level3 .nl3-right .lp-left,.lp-right {
	width: 200px;
	height: 45px;	
	float: left;
	line-height: 13px;
	margin-left: 7px;
	margin-top: 6px;
}	
.nl-level3 .nl3-right {
	margin-left: 35px;
}
.news-right {
	width: 287px;
	height: 400px;
	float: left;
	margin-left: 20px;
	margin-top: 5px;
}
.news-right>div {
	margin-bottom: 15px;
	position: relative;
	cursor: pointer;
}
.news-right .nrimg-text {
	width: 287px;
	height: 30px;
	position: absolute;
	bottom: 0;
	background-color: #493B42;
	opacity: 0.9;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 12px;
}

/*hot*/
.hot {
	width: 1190px;
	height: 350px;
	margin: 5px auto 0px;	
}
.hot .hot-header .hh-text {
	font-size: 24px;
    font-family: "microsoft yahei";
    color: #333;
}
.hot .hot-header div {
	width: 105px;
	height: 32px;
	float: left;
	font-size: 14px;
	text-align: center;
	line-height: 22px;
}
.hot .hot-header .hh-choice1 {
	background-position: -109px -737px;
	color: #fff;
	margin-left: 20px;
}
.hot .hot-header .hh-choice2 {
	background-position: 0px -737px;
	margin-left: 5px;
}

.hot .hot-main {
	width: 1190px;
	height: 310px;
	background-color: #fff;
	border-top: 2px solid #09A66F;
	margin-top: 3px;
}
.hot-main li {
	width: 237px;
	height: 320px;
	float: left;
	border-right: 1px solid #F6F5FA;
	font-family: arial;
	cursor: pointer;
}
.hot-main li:hover p {
	color: #f30;
}
.hot-main li img {
	display: block;
	margin: 10px auto;
}
.hot-main li p {
	margin: 0 5px 0;
    padding: 8px;
}
.hot-main .hm-price .price-detail {
	font-size: 24px;
	color: #FD4A12;
}
.hot-main .yuan {
	color: #FD4A12;	
}
.hot-main .hm-price {
	display: inline-block;
	position: relative;
	left: 9px;
}
.hot-main .sold {
	color: #9A9A9A;
	float: right;
	margin-top: 8px;
    margin-right: 19px;
}

/*fashion*/
.main .fashion {
	width: 1190px;
	height: 600px;	
	margin-top: 20px;
	margin-bottom: 85px;
}
.fashion .fashion-header {
	height: 45px;
	line-height: 45px;
	font-size: 24px;
    font-family: "microsoft yahei";
    color: #333;
}
.fashion .fashion-main {
	width: 1190px;
	height: 618px;
	background-color: #fff;
}

.fashion-main .fashion-left,.fashion-right {
	float: left;
}
.fashion .fashion-left {
	color: #333333;
	font-family: arial;
}
.fashion-main .fashion-ad {
	width: 237px;
	height: 403px;
	cursor: pointer;
}
.fashion-main .fashion-spec {
	width: 238px;
	height: 170px;
	background-color: #E2E2E2;
	padding-top: 45px;
}
.fashion-main .fashion-right {
	width: 952px;
	height: 613px;
}

.fashion .fashion-spec ul {
	width: 197px;
	margin-left: 20px;
}
.fashion .fashion-spec li {
	float: left;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 1px;
	background-color: #fff;
	padding: 1px 18px;
}
.fashion .fashion-spec li:hover {
	color: #FF3300;
	cursor: pointer;
}
.fashion-right li {
	float: left;
	width: 237px;
	height: 310px;
	border-right: 1px solid #F6F5FA;
	border-bottom: 1px solid #F6F5FA;;
}
.fashion .fashion-right li:hover {
	color: #FF3300;
	cursor: pointer;
}
.fashion-right img {
	margin: 10px 20px;
	text-align: center;
}
.fashion-right p {
	font-size: 12px
	font-family: arial;
	margin: 0 5px;
    padding: 8px;
    cursor: pointer;
}
.fashion-right .yuan {
	color: #FD4A12;	
}
.fashion-right .fr-price {
	display: inline-block;
	position: relative;
	left: 9px;
}
.fashion-right .sold {
	color: #9A9A9A;
	float: right;
	margin-top: -19px;
    margin-right: 19px;
}
.fashion-right .fr-price .price-detail {
	font-size: 24px;
	color: #FD4A12;
}

.main .pop-address {
	width: 1190px;
	height: 470px;	
}
.pop-address .pa-header {
	height: 45px;
	line-height: 45px;
	font-size: 24px;
    font-family: "microsoft yahei";
    color: #333;
}
.pop-address .pa-main {
	width: 1188px;
	height: 354px;
	background-color: #F1F0F5;
	border: 1px solid #E3E2E7;
}
.pop-address .pa-main .pm-1 {
	margin: 20px 30px;
	height: 50px;
	border-bottom: 1px solid #E3E2E7;
}
.pop-address .pa-main .pm-1 div {
	width: 150px;
	height: 24px;
	float: left;
}
.pop-address .pa-main .pm-1 ul {
	width: 976px;
	height: 24px;
	float: left;
}
.pop-address .pa-main .pm-1 li a {
	width: 118px;
	height: 24px;
	line-height: 24px;
	color: #0053A3;
	float: left;
}
.pop-address .pa-main .pm-1 li a:hover {
	color: #FB3200;
}

.footer {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0px;
	background-color: #E9E8EF;
	margin-top: 10px;
}
.footer-icon {
	background-image: url(../img/footer.png);
}
.footer .footer-main {
	width: 1190px;
	margin: 0 auto;
}
.footer-main .footer-logo {
	width: 228px;
	height: 26px;
	float: left;
	margin-top: 12px;
}
.footer-main ul {
	width: 460px;
    float: left;
    margin-top: 17px;
    margin-left: 30px;
}
.footer-main ul li a,.footer-main ul .fix {
	float: left;
	font-family: 'Microsoft YaHei';
    font-size: 14px;
    color: #666;
    margin-left: 20px;
}
.footer-main ul li a:hover {
	color: #333;
}
.footer-main .footer-right {
	float: right;
	color: #666;
	font-size: 12px;
}
.footer-right div {
	display: inline-block;	
}
.footer-right .water {
	width: 30px;
	height: 30px;
	background-position: -200px -43px;
}
.footer-right .star {
	width: 30px;
	height: 30px;
	background-position: -200px -92px;
}
.footer-right .phone {
	width: 30px;
	height: 30px;
	background-position: -200px -138px;
}
.footer-right .text {
    width: 41px;
}
.footer-right {
	margin-top: 9px;
}
.footer-right .download1:hover .water {
    background-position: -200px -186px;
}
.footer-right .collect:hover .star {
    background-position: -200px -235px;
}
.footer-right .download2:hover .phone {
    background-position: -200px -281px;
}
.footer-right .download1:hover .text {
    color: #333333;
}
.footer-right .collect:hover .text {
    color: #333333;
}
.footer-right .download2:hover .text {
    color: #333333;
}






























