<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
       
    <div ng-app="app1" ng-controller="controller1">
        <table>
            <thead>
                <tr>                    
                    <th ng-repeat="x in heads">                       
                    {{x}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in data">
                    <td > {{x.name}} </td>
                    <td > {{x.age}} </td>
                    <td > {{x.gender}} </td>
                    <td > {{x.email}} </td>
                </tr>
            </tbody>              
        </table>
    </div>



    <script src="js/lib/jquery/dist/jquery.min.js"></script>
    <script src="js/lib/underscore/underscore-min.js"></script>
    <script src="js/lib/angular/angular.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>