html,body,ul,li,p {
    padding: 0;
    margin: 0;
}

html {
    font-size: 20px;
}

body {
    background-color: #F2F2F2;
    color: #333;
}

.card {
    background-color: #fff;
}

.top {
    margin-bottom: 0.6rem;
    height: 3.75rem;
    font-size: 0.7rem;
    padding: 0.75rem;
    border-bottom: 1px solid #E5E5E5;
}


.top .textarea {
    width: 14rem;
    height: 2.05rem;
    padding: 0.25rem;
    border: 1px solid #E5E5E5;
    margin-top: 0.5rem;
    background-color: #F2F2F2;
}

.top .textarea textarea{
    width: 13.75rem;
    height: 2rem;
    border: none;
    outline: none;
    resize: none;
    background-color: #F2F2F2;
    font-size: 0.5rem;
    color: #333;
}

.center {
    height: 10.25rem;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 0.6rem;
}

.center>header {
    padding: 0px 0.75rem;
    border-bottom: 1px solid #E5E5E5;
    height: 2.55rem;
}
.center>header span {
    line-height: 2.55rem;
    font-size: 0.75rem;
}

.center .on-off {
    float: right;
    margin-top: 0.5rem;
    border-radius: 0.75rem;

}

.on-off input+label {
    display: inline-block;
    width: 2.5rem;
    height: 1.5rem;
    background-color: #4DD865;
    border-radius: 0.75rem;
}

label>img {
    float: right;
    margin: 0.15rem 1px 0.15rem 0;
}

.on-off input {
    display: none;
}

.on-off input:checked+label>img {
    float: left;
    margin: 0.15rem 0px 0.15rem 1px;
}

.on-off input:checked+label {
    background-color: #ccc;
}

.center section {
    padding: 0.5rem 0.75rem 0;
}
.center section img {
    width: 3rem;
    border: 1px solid #e5e5e5;
}
.center section>div {
    font-size: 0.6rem;
    width: 11rem;
    float: right;
    padding-top: 0.5rem;
}

.center section span {
    display: block;
    color: #C70000;
    font-size: 0.6rem;
    font-weight: bold;
    margin-top: 0.25rem;
}

.center .who {
    font-size: 0.7rem;
    font-weight: bold;
    position: relative;
    margin-top: 0.7rem;
}

.who span {
    padding-left: 0.75rem;
    line-height: 1.9rem;
}

.who .ren {
    float: right;
    margin-right: 4.75rem;
}
.add {
    width: 6.75rem;
    height: 1.9rem;
    border: 1px solid #e5e5e5;
    display: inline-block;
    position: absolute;
    left: 3rem;
}

.add .less {
    width: 1.9rem;
    height: 1.9rem;
    background-image: url(img/less.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 0.45rem 0.55rem;
    border-right: 1px solid #e5e5e5;
}

.add .more {
    width: 1.9rem;
    height: 1.9rem;
    background-image: url(img/more.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 0.45rem 0.5rem;
    border-left: 1px solid #e5e5e5;
}

.add div {
    float: left;
}
.add .num {
    width: 2.85rem;
    height: 1.9rem;
    text-align: center;
    line-height: 1.9rem;
    font-size: 0.9rem;
}

.add .num input {
    display: none;
}

.bottom {
    height: 4.2rem;
    font-size: 0.7rem;
    padding: 1.05rem 0.75rem;
    font-weight: bold;
}

.bottom .yf {
    margin: 0.85rem 0;
}

.total>span {
    color: #cf0000;
}

.btn {
    margin: 1.05rem auto 4.9rem;
    width: 14.5rem;
    height: 2.1rem;
    background-color: #cf0000;
    line-height: 2.1rem;
    text-align: center;
    color: #fff;
    border-radius: 0.25rem;
    font-size: 0.9rem;
}






/*html,body,ul,li,p {
    padding: 0;
    margin: 0;
}

html {
    font-size: 20px;
}

body {
    background-color: #F2F2F2;
    color: #333;
}

.card {
    background-color: #fff;
}

.top {
    margin-bottom: 12px;
    height: 75px;
    font-size: 14px;
    padding: 15px;
    border-bottom: 1px solid #E5E5E5;
}


.top .textarea {
    width: 280px;
    height: 41px;
    padding: 5px;
    border: 1px solid #E5E5E5;
    margin-top: 10px;
}

.top .textarea textarea{
    width: 275px;
    height: 40px;
    border: none;
    outline: none;
    resize: none;
}

.center {
    height: 205px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 12px;

}

.center>header {
    padding: 0px 15px;
    border-bottom: 1px solid #E5E5E5;
    height: 51px;
}
.center>header span {
    line-height: 51px;
    font-size: 15px;
}

.center .on-off {
    float: right;
    width: 50px;
    height: 30px;
    background-color: #4DD865;
    margin-top: 10px;
    border-radius: 15px;
    position: relative;
}

.on-off .circle {
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 1px;
    bottom: 1px;
}

.on-off input {
    display: none;
}

.center section {
    padding: 10px 15px 0;
}
.center section img {
    width: 60px;
    border: 1px solid #e5e5e5;
}
.center section>div {
    font-size: 12px;
    width: 220px;
    float: right;
    padding-top: 10px;
}

.center section span {
    display: block;
    color: #C70000;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

.center .who {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    margin-top: 14px;
}

.who span {
    padding-left: 15px;
    line-height: 38px;
}

.who .ren {
    float: right;
    margin-right: 95px;
}
.add {
    width: 135px;
    height: 38px;
    border: 1px solid #e5e5e5;
    display: inline-block;
    position: absolute;
    left: 60px;
}

.add .less {
    width: 38px;
    height: 38px;
    background-image: url(img/less.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 9px 11px;
    border-right: 1px solid #e5e5e5;
}

.add .more {
    width: 38px;
    height: 38px;
    background-image: url(img/more.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 9px 10px;
    border-left: 1px solid #e5e5e5;
}

.add div {
    float: left;
}
.add .num {
    width: 57px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
}

.add .num input {
    display: none;
}

.bottom {
    height: 84px;
    font-size: 14px;
    padding: 21px 15px;
    font-weight: bold;
}

.bottom .yf {
    margin: 17px 0;
}

.total>span {
    color: #cf0000;
}

.btn {
    margin: 21px auto 98px;
    width: 290px;
    height: 42px;
    background-color: #cf0000;
    line-height: 42px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
}*/
